body {
  background-color: #2E2E2E;
  margin: 0;
  font-family: inter-variable, sans-serif;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wght" 400;
  overflow: hidden;
}

.container,
.keypadcontainer,
.sidenav,
.key .submenu {
  box-sizing: border-box;
  width: fit-content;
}

nav {
  width: fit-content;
  overflow: visible;
  min-width: fit-content;
}

.menucontainer {
  display: flex;
  overflow: visible;
  width: fit-content;
  min-width: fit-content;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: fit-content;
}

ul li {
  width: fit-content;
  min-width: fit-content;
  overflow: visible;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.sidenav {
  overflow: visible;
  background-color: #EEE;
  width: fit-content;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  /* Nastav vysokou hodnotu z-index */
}

.sidenav button {
  cursor: pointer;
  text-align: left;
  /* Změna na levé zarovnání */
  padding: 1.2vh;
  text-decoration: none;
  display: inline;
  margin-left: 3vh;
  margin-right: 3vh;
  justify-content: flex-start;
  /* Změna na flex-start */
  align-items: center;
  /* Vertikální vycentrování */
  display: flex;
  /* Použití flexboxu */
  margin-top: 4vh;
  margin-bottom: 4vh;
  border: none;
  outline: none;
  width: fit-content;
}

button:focus {
  outline: none;
  border: none;
}


.menu-item {
  display: flex;
  width: fit-content;
  align-items: center;
  background-color: #2E2E2E;
  border-radius: 6vh;
  text-decoration: none;
  overflow: hidden;
  /* Přidáno */
  color: #EEE;
}

.icon {
  width: 6vh;
  color: #EEE;
  background-color: transparent;
  /* Odstraněno pozadí */
  padding: 2vh;
  border-radius: 0;
  /* Odstraněno zaoblení */
  overflow: visible;
  display: block;
}

.submenu {
  min-height: 100vh;
  display: none;
  /* Změna na block, aby bylo submenu viditelné */
  position: absolute;
  top: 0;
  right: 0;
  background-color: #EEE;
  /* Nastavte požadovanou šířku */
  height: 100vh;
  /* Nastavte požadovanou výšku */
  color: #2E2E2E;
  z-index: 9999999999;
  visibility: visible;
  opacity: 1;
  width: fit-content;
  padding: 1vh;
  overflow: visible;
  border-left: 2px solid #C4C4C4;
  transform: translateX(0);
  /* Přidání ohraničení pro lepší viditelnost */
  transition: display 0.3s ease-in-out;
  /* Přidáno */
}

.submenucontainer {
  gap: 1vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  width: 55vh;
  overflow: visible;
  text-align: center;
  padding-top: .5vh;
  padding-bottom: 10vh;
  margin-left: auto;
  margin-right: auto;
}

.submenucontainer a {
  width: 22%;
  background-color: #2E2E2E;
  color: #EEE;
  font-weight: 900;
  /* padding: 3vh; */
  height: 10%;
  border-radius: 2vh;
  text-align: center;
  font-size: 1.6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-text {
  display: none;
  width: fit-content;
  color: #EEE;
  font-weight: bold;
  background-color: transparent;
  /* Odstraněno pozadí */
  border-radius: 0;
  /* Odstraněno zaoblení */
  padding: 0;
  /* Odstraněno padding */
  text-align: center;
}


.sidenav:hover .menu-item {
  width: 35vh;
  transition: width 1s ease;
}

.sidenav:hover .menu-text {
  display: block;
  width: fit-content;
  text-align: center;
  width: fit-content;
  /* Automatická šířka */
  background-color: transparent;
  /* Odstraněno pozadí */
  color: #EEE;
  justify-content: flex-start;
  /* Zarovnání doleva */
  align-items: center;
  margin: 0;
  /* Odstraněny marginy */
  font-size: 3vh;
  /* Stejná velikost jako původní text */
  padding: 0 2vh;
  /* Přidáno odsazení textu */
  border-radius: 0;
  transition: display 0.3s ease;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  z-index: 800;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: relative;
}

img {
  max-width: 100%;
}

.logo_pozadi {
  width: 35%;
  opacity: 20%;
  padding-left: 40px;
  padding-right: 40px;
  rotate: 0deg;
  z-index: 1;
  position: absolute;
  left: 20vh;
  top: 12vh;

}

.foto_pozadi {
  width: 35%;
  position: absolute;
  left: 23vh;
  top: 14vh;
  z-index: 900;
}

.keypadcontainer {
  align-items: center;
  margin-left: auto;
  width: 45%;
  min-height: 100vh;
  background-color: #EEE;
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  max-width: 100vw;
  /* Zabrání přesahu mimo viditelnou oblast */
  overflow: hidden;
  /* Skryje přetékající obsah */
}

.layercontainer {
  /* Oprava názvu třídy */
  width: 100%;
  justify-content: center;
  height: fit-content;
  display: flex;
  /* Umožní umístění prvků do řady */
  align-items: center;
  /* Zarovná prvky vertikálně */
}


.changelayer {
  font-size: 3.5vh;
  padding: 2vh;
  background-color: #3F63B5;
  border-radius: 2.5vh;
  font-weight: bold;
  margin-right: 5vh;
  position: relative;
  top: 1.5vh;
  outline: none;
  border: none;
  margin-bottom: 3vh;
  cursor: pointer;
}

.changelayer:focus {
  outline: none;
}


.dot {
  cursor: pointer;
  height: 7vh;
  width: 7vh;
  background-color: #C4C4C4;
  border-radius: 50%;
  display: inline-block;
  margin-left: 4vh;
  transition: background-color 0.5s ease-in-out;
  /* Plynulý přechod barvy */
}

.dot:hover {
  background-color: #858585;
}

.dot_active {
  cursor: pointer;
  background-color: #2E2E2E;
  height: 7vh;
  width: 7vh;
  border-radius: 50%;
  display: inline-block;
  margin-left: 4vh;
  transition: background-color 0.5s ease-in-out;
  /* Plynulý přechod barvy */
}

.fade-out {
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out; /* Nebo vámi preferovaná doba a funkce */
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out; /* Stejná doba a funkce */
}

.push {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background: #3F63B5;
  height: fit-content;
  width: 100%;
  text-align: center;
  padding-left: 6vh;
  padding-right: 6vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-size: 8vh;
  border-radius: 5vh;
  position: sticky;
  cursor: pointer;
  /* Drží tlačítko ve spodní části */
  bottom: 0.1vh;
  /* Udržuje odstup od spodní části */
  z-index: 100;
  /* Zajišťuje, že zůstane nad ostatními prvky */
  flex-wrap: wrap;
  /* Přizpůsobí se menším displejům */
  max-width: 100%;
  /* Zabrání přesahu na malých obrazovkách */

}

.push.fade-out {
  opacity: 0.5;
  cursor: not-allowed;
}

.push.fade-in {
  opacity: 1;
  cursor: pointer;
}

.push a {
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.keypad {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 0vh;
  gap: 2vh;
  /* Mezery mezi prvky */
}

.key {
  font-size: 2.5vh;
  padding-left: 6vh;
  padding-right: 6vh;
  padding-top: 4vh;
  padding-bottom: 4vh;
  background-color: #C4C4C4;
  color: #3F63B5;
  border-radius: 3vh;
  gap: 12vh;
  text-align: center;
  line-height: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.key:hover {
  background-color: #a0a0a0;
}

.function {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-color: #D1F5FF;
  height: fit-content;
  width: 100%;
  text-align: left;
  padding-left: 8vh;
  padding-right: 8vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  font-size: 10vh;
  border-radius: 4vh;
}

.function textarea {
  font-family: inter-variable, sans-serif;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 0 0.5vh;
  /* Snižuje vertikální odsazení */
  font-size: 5vh;
  text-align: left;
  align-items: center;
  vertical-align: middle;
  /* Může pomoci v některých případech */
}

.overeni_ne {
  display: none;
  color: #C4C4C4;
}

.overeni_ano {
  display: absolute;
  color: #C4C4C4;
  position: absolute;
  top: 40%;
  left: 25%;
  text-align: center;
  background-color: #2E2E2E;
  text-align: center;
  align-items: center;
  z-index: 99998;
  padding: 5vh;
  border-radius: 3vh;
  font-size: 7vh;
  margin-left: auto;
  margin-right: auto;
}

.clear-button {
  position: relative;
  cursor: pointer;
  font-size: 4vh;
  /* Upravte podle potřeby */
  font-weight: 900;
  color: #858585;
  /* Barva křížku */
  transition: rotate 0.5s ease-in-out;
}

.clear-button:hover {
  rotate: 180deg;
  transition: rotate 0.5s ease-in-out;
}

